<%- include('header') -%>
<h1>This is a about Page</h1>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae sequi aliquam distinctio non ratione fugiat
    expedita dignissimos ipsum quidem quo modi, itaque, laudantium maxime debitis amet error officia velit doloremque?
</p>

<%- include('footer') -%>